html{
  padding: 0px;
  height: 100%;

  --main-color: #729290;
  --sec-color: #BFE3E1;
  --thri-color: #F7F7F7;

  --main-border: 3px solid var(--main-color);;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
body button {
  outline: none;
}
#root{
  height: 100%;
}
.App {
  height: 100%;
}

/*Navbar.js*/
#Navbar {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 50px;

  background-color: #729290;

  box-shadow: -1px 13px 22px -10px;

  z-index: 2;
}
#Navbar h1{
  text-align: center;
  
  margin: 0px;
  margin-bottom: 5px;

  cursor: default;
}
#Navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  margin: 0px;
  padding: 0px 20px;

  background-color: #BFE3E1;
}
#Navbar li {
  width: 100px;
  text-align: center;

  cursor: pointer;
}
#Navbar a {
  text-decoration: none;
  color: black;

  border-left: 1px solid var(--thri-color);
  border-right: 1px solid var(--thri-color);
}
#Navbar a:last-child{
  margin-left: auto;
}

.active{
  background-color: #F7F7F7;
  border-bottom: 2px solid white;
}
/*content*/
#content {
  margin-top: 50px;
  background-color: var(--thri-color);
  height: 100%;
  width: 100%;

  position: absolute;
}

/*Home.js*/
#Home{
  display: flex;
  justify-content: center;
  align-items: center;
}
#centerDiv {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 5px solid var(--main-color);

  padding: 20px;

  background-color: rgba(255, 255, 255, 0.726);
}
#centerDiv > h1 {
  font-size: 70px;
}
#centerDiv a {
  text-decoration: none;
  color: black;
}
#shopHere{
  width: 350px;
  height: 50px;

  background-color: rgba(255, 255, 255, 0.534);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #729290;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: var(--thri-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--sec-color);
  border-radius: 5px;
}

/*Shop.js*/
#Shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--thri-color);
  margin-bottom: 20px;
}

/*top-div*/
#top-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
}
#top-div > img {
  position: relative;
}
#top-div h1 {
  position: relative;
  bottom: 300px;
  font-size: 50px;
  color: white;
}
#top-div p {
  position: relative;
  bottom: 270px;
  font-size: 25px;
  color: white;
}

/*ListShopItems.js*/
#ListShopItems {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shop-items {
  padding: 10px;
  margin-bottom: 10px;
  border: var(--main-border);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  width: 400px;
  height: 270px;

  text-align: center;
}
.shop-items img {
  max-height: 100px;
  pointer-events: none;
}
.shop-items h3 {
  margin-top: 0px;
}
.shop-items p {
  margin-top: 0px;
}
.shop-items button {
  width: 100px;
  height: 35px;

  border: 2px solid var(--main-color);

  background-color: var(--thri-color);

  cursor: pointer;
}

.shop-items button:hover {
  background-color: var(--sec-color);
  color: white;
}

/*ShopCart.js*/
#ShopCart {
  margin: 80px auto;

  max-width: 900px;

  border: var(--main-border);
}
#ShopCart h1{
  margin-top: 0px;
  padding: 5px 0px;

  text-align: center;

  background-color: var(--main-color);
  color: white;
}
#ShopCart > p {
  margin-left: 10px;
}
#ListShopCartContent {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0px;

  border: 1px solid var(--main-color);

  min-height: 80px;
  max-width: 880px;
}

.cartItem {
  display: flex;
  flex-direction: column;

  padding: 10px;
}
.cartItem h3{
  margin-top: 0px;
  margin-bottom: 5px;
}
.nameAndPrice p {
  margin-top: 0px;
}
.quantity {
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.quantity > p {
  margin: 0px;
}
.plusMinus {
  width: 100px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.quantBtn {
  height: 26px;
  width: 26px;
  
  border: 2px solid var(--main-color);
  border-radius: 13px;

  font-size: 20px;
}
.del{
  border: 2px solid var(--main-color);
  outline: none;
}

#ShopCart > button {
  width: 100px;
  height: 30px;

  font-size: 15px;

  border: 2px solid var(--main-color);

  margin-left: 10px;
  margin-bottom: 10px;

  cursor: pointer;

  text-align: center;
}
#ShopCart button:hover {
  background-color: var(--sec-color);
  color: white;
}
