html{
  padding: 0px;
  height: 100%;

  --main-color: #729290;
  --sec-color: #BFE3E1;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
#root{
  height: 100%;
}
.App {
  height: 100%;
}

/*Navbar.js*/
#Navbar {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 50px;

  background-color: #729290;

  box-shadow: -1px 13px 22px -10px;
}
#Navbar h1{
  text-align: center;
  
  margin: 0px;
  margin-bottom: 5px;

  cursor: pointer;
}
#Navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  margin: 0px;
  padding: 0px 20px;

  background-color: #BFE3E1;
}
#Navbar li {
  width: 100px;
  text-align: center;

  cursor: pointer;
}
#Navbar a {
  text-decoration: none;
  color: black;
}
#Navbar a:last-child{
  margin-left: auto;
}

.active{
  background-color: #F7F7F7;
  border-bottom: 2px solid white;
}
/*content*/
#content {
  margin-top: 50px;
  background-color: #F7F7F7;
  height: 100%;
  width: 100%;
}

/*Home.js*/
#Home{
  display: flex;
  justify-content: center;
  align-items: center;
}
#centerDiv {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 5px solid var(--main-color);

  padding: 20px;

  background-color: rgba(255, 255, 255, 0.432);
}
#centerDiv > h1 {
  font-size: 70px;
}
#shopHere{
  width: 350px;
  height: 50px;

  background-color: rgba(255, 255, 255, 0.534);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #729290;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: var(--sec-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 5px;
}